<main>
  <app-navbar></app-navbar>

  <div class="container mt-5 p-5">
    <div class="card">
      <div class="card-header text-center">Registro de Marca</div>
      <div class="card-body">
        @if (messageError != '') {
          <div class="alert alert-danger" role="alert">
            {{ messageError }}
          </div>
        } @if (message != '') {
          <div class="alert alert-success" role="alert">
            {{ message }}
          </div>
        }
        <form [formGroup]="form" (submit)="registerBrand(form)">
          <div class="mb-3 mt-3">
            <label class="form-label">Nome:</label>
            <input type="text" class="form-control" formControlName="name" />
          </div>
          @if (form.get('name')?.touched && form.get('name')?.invalid) {
            <div class="alert alert-danger" role="alert">
              {{ getErrorMessage('name') }}
            </div>
          }
          <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-block">
              Registra
            </button>
          </div>
        </form>
      </div>
      <div class="card-footer"></div>
    </div>
  </div>
</main>
